#palabra_a_adivinar {
  height: 3em;
}
#palabra_a_adivinar span {
  vertical-align: bottom;
  font-size: 2em;
  border-bottom: 2px solid black;
  width: 30px;
  text-align: center;
  margin-right: 6px;
  display: inline-block;
}

#jugar {
  text-wrap: wrap;
  color: rgb(6, 20, 6);
  font-weight: 700;
  background: rgb(233, 153, 216);
}

#consejo {
  font-weight: 700;
  background: rgb(233, 153, 216);
}

#letras button {
  background: rgb(233, 153, 216);
  color: black;
}
